.card {
  background-color: #060ce9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  border: 0.25rem solid rgba(22, 16, 16, 1);
  color: gold;
  font-size: 1.5rem;
}
